body {
	background-color: #C4D0D6;
	color: #fff;
}

h1, {
	color: white;
	font-family: Arial;
	font-size: 35px;
}

p {
	color: white;
	font-family: Arial;
	text-align: center;
}
#slogan {
	text-decoration: italic;
}