body {
	background-color: #C4D0D6;
	color: #fff;
	text-align: center;
}

h1, {
	color: white;
	font-family: Arial;
	font-size: 35px;
}

p {
	color: white;
	font-family: Arial;
}
#slogan {
	text-decoration: italic;
}
hr {
	width: 300px;
}

ul {
	text-align: center;
	list-style-type: none;
}

div {
	width: 400px;
	height: 250px;
	margin: 50px;
	display: inline-block;
	border: 20px #C4D0D6;
}
#photo {

	background: white;
	
}
